.git
.github
docs
tests
vendor
node_modules
.phpunit.cache
.phpunit.result.cache
composer.lock
docker/host-app/vendor
docker/host-app/node_modules
docker/host-app/public/build
docker/host-app/bootstrap/cache
docker/host-app/storage/framework/cache/data
docker/host-app/storage/framework/sessions
docker/host-app/storage/framework/views
docker/host-app/storage/logs
docker/host-app/database/database.sqlite
